<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Conheça os nossos produtos</h1>
    <hr>
    <!-- Tags EJS chamando a variável que veio do index.js -->
    <!-- Sempre que for concatenar uma variável, coloca o = depois do < % -->
    <%= produto %> 

    <!-- Condição para verificar se o produto não foi passado -->
    <% if (!produto) { %>
        <p><%= listaProdutos %></p>
    <% } %>

    <!-- ForEach para percorrer a lista de produtos -->
    <% if(!produto) { %>
        <% listaProdutos.forEach((produto) => { %>
            <p><a href="/produtos/<%= produto %>"><%= produto %></a></p>
        <% }); %>
    <% } %>
</body>
</html>